<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Add data.json</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>

<body>
    <div class="container">
        <div class="panel panel-default">
            <div class="panel-heading form-control-sm">
                <h4 class="panel-title">Add Data</h4>
            </div>
            <form class="form-horizontal" action="add" method="post">
                <div class="panel-body form-control-sm">
                    <div class="form-group row">
                        <label for="inputPassword3" class="col-sm-2 col-form-label">String</label>
                        <div class="col-sm-5">
                            <input type="text" class="form-control form-control-sm" id="string" placeholder="String"
                                name="string">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputPassword3" class="col-sm-2 col-form-label">Integer</label>
                        <div class="col-sm-5">
                            <input type="text" class="form-control form-control-sm" id="integer" placeholder="Integer"
                                name="integer">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputPassword3" class="col-sm-2 col-form-label">Float</label>
                        <div class="col-sm-5">
                            <input type="text" class="form-control form-control-sm" id="float" placeholder="Float"
                                name="float">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputPassword3" class="col-sm-2 col-form-label">Date</label>
                        <div class="col-sm-5">
                            <input type="date" class="form-control form-control-sm" id="date" placeholder="End Date"
                                name="date">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputPassword3" class="col-sm-2 col-form-label">Boolean</label>
                        <div class="col-sm-5">
                            <select class="form-control form-control-sm" name="boolean">
                                <option>Choose the boolean...</option>
                                <option id="boolean">True</option>
                                <option id="boolean">False</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-10">
                            <button type="submit" class="btn btn-success">Save</button>
                            <a href="/" class="btn btn-danger">Cancel</a>
                        </div>
                    </div>
            </form>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>

</html>